/* All devices */
.spot-maximized {
    width: 100% !important;
    height: 100% !important;
}

.spot-minimized {
    position: absolute;
    top: -1000000px;
    left: -1000000px;
}

.row.spot-row {
    margin: 0;
}

.spot-frame > .spot-frame-content > .panel > .panel-heading {
    height: 35px;
}

.spot-frame > .spot-frame-content > .panel > .panel-heading .panel-toolbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.spot-frame > .spot-frame-content > .panel > .panel-heading .panel-toolbar li {
    display: inline-block;
    padding-left: 5px;
    cursor: pointer;
}

.spot-frame > .spot-frame-content > .panel > .panel-body {
    padding: 0;
}

.spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container.container-box {
    overflow: hidden !important;
}

.spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container.container-box > .inner-container-box {
    max-height: 100%;
    overflow: auto;
}

.spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container {
    width: 100%;
    overflow-x: auto;
}

.spot-frame .panel-body-container.container-box > * {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

/* Extra small devices (phones, less than 768px) */

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
    .spot-row {
        min-height: 400px;
    }

    .spot-frame,
    .spot-frame > .spot-frame-content,
    .spot-frame > .spot-frame-content > .panel,
    .spot-frame > .spot-frame-content > .panel > .panel-body,
    .spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container,
    .spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container.container-box > *
    {
        min-height: inherit;
    }
}

/* Medium devices (desktops, 992px and up, two columns) */
@media (min-width: 992px) {
    html, body {
        height: 100%;
        overflow-x: hidden;
    }

    #spot-nav {
        position: fixed;
        z-index: 3;
        width: 100%;
    }

    #spot-content, #spot-content-wrapper {
        height: 100%;
        width: 100%;
    }

    #spot-content-wrapper {
        padding: 94px 0 0 0;
    }

    #spot-content > .spot-row {
        margin: 0;
    }

    .spot-frame {
        height: 100%;
        padding: 0;
    }

    .spot-frame > .spot-frame-content {
        height: 100%;
        padding: 10px;
    }

    .spot-frame > .spot-frame-content > .panel {
        width: 100%;
        height: 100%;
        margin: 0;
        position: relative;
    }

    .spot-frame > .spot-frame-content > .panel > .panel-heading {
        width: 100%;
        position: absolute;
        z-index: 2;
    }

    .spot-frame > .spot-frame-content > .panel > .panel-body {
        height: 100%;
        width: 100%;
        padding: 35px 0 0 0;
        overflow: hidden;
    }

    .spot-frame > .spot-frame-content > .panel.no-heading > .panel-body {
        width: 100%;
        padding-top: 0px;
    }

    .spot-frame > .spot-frame-content > .panel > .panel-body > .panel-body-container {
        height: 100%;
    }
}

/* Large devices (large desktops, 1200px and up) */

/*******************************
 **           Spot             **
 *******************************/


/*******************************
 **       STORYBOARD          **
 *******************************/
/*
prevent the active panel from collapsing
 */
#spot-executive-threat-briefing.panel-group [aria-expanded=true] {
    /*
    http://caniuse.com/#feat=pointer-events
    Works for MOST modern browsers. (- Opera Mobile)
    */
    pointer-events: none;
}

#spot-executive-threat-briefing.panel-group a[aria-expanded=true] {
    text-decoration: underline;
}

.storyboard #incident_list, .storyboard .comment_summary  {
    list-style: none;
    text-align: left;
}

/**    IMPACT ANALYSIS     **/
.sb_impact rect.background {
    fill: none;
    pointer-events: all;
}

.sb_impact .axis {
    shape-rendering: crispEdges;
}

.sb_impact .axis path, .sb_impact .axis line {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
}

.sb_impact svg{
    font: 10px sans-serif;
}

/**         MAP VIEW       **/
.sb_globe_view .land {
    fill: #939598;
    stroke-opacity: 1;
}

.sb_globe_view .graticule {
    fill: none;
    stroke: black;
    stroke-width: .5;
    opacity: .2;
}

.sb_globe_view .labels {
    font: 8px sans-serif;
    fill: black;
    opacity: .5;
    display: none;
}

.sb_globe_view .noclicks {
    pointer-events: none;
}

.sb_globe_view .point {
    opacity: .6;
}

.sb_globe_view .arcs {
    opacity: .1;
    stroke: #939598;
    stroke-width: 3;
}

.sb_globe_view .flyers {
    stroke-width: 3;
    opacity: 1.0;
    stroke: #A31C24;
}

.sb_globe_view .arc, .sb_globe_view .flyer {
    stroke-linejoin: round;
    fill: none;
}

.sb_globe_view .arc {
}

.sb_globe_view .flyer {
}

.sb_globe_view .flyer:hover {
}

/**       TIMELINE         **/

.timeline .spot-chart {
    overflow-x: hidden;
}

.timeline svg {
    font: 10px sans-serif;
}

.timeline .zoom {
    fill: transparent;
    cursor: pointer;
}

.timeline .y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}

.timeline .graph-body .line circle {
    opacity: 0.4;
}

/* TOOLTIP */

.spot-tooltip .tooltip-inner {
    word-wrap: break-word;
}

.spot-text-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12em;
}

.spot-text-wrapper.spot-text-sm {
    width: 6em;
}

.spot-text-wrapper.spot-text-lg {
    width: 18em;
}
