[submodule "oni-ingest"]
	path = oni-ingest
	url = https://github.com/OpenNetworkInsight/oni-ingest
[submodule "oni-setup"]
	path = oni-setup
	url = https://github.com/OpenNetworkInsight/oni-setup
[submodule "oni-ml"]
	path = oni-ml
	url = https://github.com/OpenNetworkInsight/oni-ml
